auto/
/book.html
/book.pdf
/index.html
/math.html
/modeling.html
/programming.html
/quickref-cards.html
/quickref.html
*~
Gemfile.lock
*.toc
*.aux
*.log
*.out
*.tex
*.msh
*.med
*.h5
/math/*.tex
*#
*~
*.*~
*.lock
package.json.*
node_modules
build
.sass-cache
/_site/
